/ND11.txt
/New Text Document.txt
bin
/WindowsApplication1/WindowsApplication1/bin
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.xml
/WindowsApplication1/WindowsApplication1/obj/Debug/TempPE
/WindowsApplication1/WindowsApplication1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsApplication1/WindowsApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.exe
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.Form1.resources
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.pdb
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.Resources.resources
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.FileListAbsolute.txt
/WindowsApplication1/WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.GenerateResource.Cache
/README.md
